<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="Headline">
        <span id="textspan">
            When a Fortune 100 company accepts Bitcoin<br>
            $<%= number_with_delimiter @amount_raised_usd, :delimiter => ',' %> will be donated to charity: water
        </span><br />
        </p>
        <p id="Description">
        </p>
        <input id="input" type="button" value="Pitch in"></input>
        <!-- <input id="input1" type="button" value="Share this Nutfund"></input> -->
        <p id="Headline1">
        <span id="textspan2">
            ฿<%= @amount_raised_btc %>
        </span><br />
        </p>
        <p id="text">
        Total amount raised to date
        </p>
    </div>
    <div id="Navbar" class="clearfix">
        <img id="image" src="/assets/Logo.png" class="image" />
        <img id="image1" src="/assets/Logo.png" class="image" />
    </div>
    <p id="text1">
    Text
    </p>
    <p id="text2">
    Text
    </p>
    <p id="Headline2">
    <span id="textspan3">Trigger Widespread Merchant Bitcoin Adoption</span><br />
    </p>
    <p id="Description1">
    <span id="textspan4">        
        Amazon is the largest e-commerce company. When they make a move, everyone else follows.
        Amazon's adoption of Bitcoin as a payment method is inevitable.
        Let's move it up their priority list by contributing to a great charity once they accept Bitcoin.
    </span><br />
    </p>
    <img id="image2" src="/assets/howitworks.png" class="image" />
    <p id="Headline3">
    <span id="textspan5">Help People Access Clean Drinking Water</span><br />
    </p>
    <p id="Description2">
    <span id="textspan6">
        This bounty's funds will be released to <a href="http://charitywater.org">charity: water</a> to help provide clean water to communities around the world.
        Every day, 5,000 kids die from water-related illnesses before they reach their 5th birthday. It doesn’t have to be that way. There are simple solutions like drilled wells, spring protections, and BioSand Filters that help provide clean water to communities around the world.
    </span><br />
    </p>
    <p id="Headline3">
        <span id="textspan5">Nutfunds are Bounties for Progress</span><br />
    </p>
    <p id="Description2">
        <span id="textspan6">
            We've all been there: reaching out to a major brand, and having our voice ignored.
            People have tried petitions, trending tweets, and protests - but has anyone actually put money on the line for their cause?<br><br>
            We want to inspire brands to take positive action while also contributing to human progress by supporting great causes.
        </span><br />
    </p>
    <p id="Headline3">
        <span id="textspan5">
            Join this Bounty for Progress
        </span><br />
    </p>
    <p id="Description2">
        <span id="textspan6">
            Every acorn counts. Get a major brand's attention while supporting a great cause.
            <br><br>
            <a class="coinbase-button" data-code="3c54ceafe6e192bc0bce1ec2e971a62c" data-button-style="donation_large" href="https://coinbase.com/checkouts/3c54ceafe6e192bc0bce1ec2e971a62c">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
            <br>
            Nutfund does not charge any transaction fees. <br>
            Our payment processor will charge a 1% fee if over $1mil is raised.<br>
            All BTC will be released to charity: water if no action occurs within three months.
        </span><br />
    </p>
    <div id="box1" class="clearfix">
        <p id="Headline4">
            Hackers and Hustlers unite.
        </p>
        <p id="Description3">
        <span id="textspan7">
            We're a team competing in the <a href="http://startupbus.com">StartupBus</a> business competition.
            This idea was brainstormed and created on a bus during a roadtrip from San Francisco to Austin, Texas.
            We are committed to executing this idea, and will not disappear after the competition.
        </span><br />
        </p>
        <div id="box2" class="clearfix">
            <img id="image3" src="/assets/carlos.png" class="image" />
            <img id="image4" src="/assets/justin.png" class="image" />
            <img id="image5" src="/assets/blake.png" class="image" />
            <img id="image6" src="/assets/yaron.png" class="image" />
            <img id="image7" src="/assets/kenneth.png" class="image" />
        </div>
        <a href="http://northamerica.startupbus.com/about/"><img id="image8" src="/assets/bus-256%20copy.png" class="image" /></a>
        <p id="text3">
        Made of startupbus with love
        </p>
    </div>
</div>
