<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="Headline">
        <span id="textspan">
            When Amazon accepts Bitcoin,<br>
            $74,284 will be donated to charity: water
        </span><br />
        </p>
        <p id="Description">
        <span id="textspan1">
            Nutfunds are Bounties for Progress.<br>
            Encourage brands to take positive action while helping great causes.
        </span><br />
        </p>
        <input id="input" type="button" value="Donate to Nutfund"></input>
        <!-- <input id="input1" type="button" value="Share this Nutfund"></input> -->
        <p id="Headline1">
        <span id="textspan2">$3020</span><br />
        </p>
        <p id="text">
        Total amount raised to date
        </p>
    </div>
    <div id="Navbar" class="clearfix">
        <img id="image" src="/assets/Logo.png" class="image" />
        <img id="image1" src="/assets/Logo.png" class="image" />
    </div>
    <p id="text1">
    Text
    </p>
    <p id="text2">
    Text
    </p>
    <p id="Headline2">
    <span id="textspan3">Wow. So nutfund. Very headline.</span><br />
    </p>
    <p id="Description1">
    <span id="textspan4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</span><br />
    </p>
    <img id="image2" src="/assets/howitworks.png" class="image" />
    <p id="Headline3">
    <span id="textspan5">Wow. So nutfund. Very headline.</span><br />
    </p>
    <p id="Description2">
    <span id="textspan6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</span><br />
    </p>
    <div id="box1" class="clearfix">
        <p id="Headline4">
        Squirrels and worldchangers unite.
        </p>
        <p id="Description3">
        <span id="textspan7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim&nbsp;</span><br />
        </p>
        <div id="box2" class="clearfix">
            <img id="image3" src="/assets/carlos.png" class="image" />
            <img id="image4" src="/assets/justin.png" class="image" />
            <img id="image5" src="/assets/blake.png" class="image" />
            <img id="image6" src="/assets/yaron.png" class="image" />
            <img id="image7" src="/assets/kenneth.png" class="image" />
        </div>
        <img id="image8" src="/assets/bus-256%20copy.png" class="image" />
        <p id="text3">
        Made of startupbus with love
        </p>
    </div>
</div>
