<img class="logo" alt="Logo" src="/assets/nutfund-logo.png" />
<h2>Bounties for good</h2>
<a href="http://twitter.com/thenutfund">< <%= image_tag("tw.png") %> ></a>
<a href="http://facebook.com/nutfund">< <%= image_tag("fb.png") %> ></a>
