<div id="primaryContainer" class="primaryContainer clearfix">
    <img id="image" src="/assets/Logo.png" class="image" />
    <div id="box" class="clearfix">
        <img id="image1" src="/assets/Logo.png" class="image" />
    </div>
    <div id="box1" class="clearfix">
        <p id="text">
        Changing the world,<br />One nut at a time.
        </p>
        <div id="box2" class="clearfix">
      </div>
        <p id="text1">
        <span id="textspan">Contribute to things you want to see happen. The pot keeps getting bigger and bigger, but when the deed is done the money goes to charity. Put a bounty on good.</span><br />
        </p>
<!--         <input id="input" type="button" value=</input> -->
        <a href="http://game.startupbus.com">
        <input id="input" type="button" value="Invest" />
        </a>
    </div>
    <div id="box3" class="clearfix">
        <div id="box4" class="clearfix">
            <img id="image2" src="/assets/icon_31374.svg" class="image" />
            <img id="image3" src="/assets/line.png" class="image" />
            <img id="image4" src="/assets/icon_16726.svg" class="image" />
            <img id="image5" src="/assets/line.png" class="image" />
            <img id="image6" src="/assets/icon_26718.svg" class="image" />
            <p id="text2">
            <span id="textspan1">Bounty is posted for what ever event or cause you want to see happen</span><br />
            </p>
            <p id="text3">
            <span id="textspan2">Raise money and get people to take action. It's time to infulence people and organizations for good.</span><br />
            </p>
            <p id="text4">
            <span id="textspan3">Once the event actually happens, the bounty is gifted to a predetermined charity. Success!</span><br />
            </p>
        </div>
    </div>
    <div id="box5" class="clearfix">
        <img id="image7" src="/assets/icon_267181.svg" class="image" />
    </div>
</div>
